{
  "extends": "airbnb",
  "rules": {
    "no-console": 0, // 允许在代码中保留 console 命令
    "import/no-unresolved": 0
  },
  "globals": {
    "wx": true,
    "App": true,
    "Page": true,
    "getApp": true,
    "Component": true
  }
}
